<h2>{{companies.companyName}}</h2>
<span></span>
<h6>Primary contact: {{companies.primaryContactName}}</h6>
<h6>Contact email:{{companies.primaryContactEmail}}</h6>
<h6>Contact Phone:{{companies.primaryContactPhone}}</h6>

<h2>Interactions</h2>
<div class="row">
    <div class="col-lg-3">
        <li class="list-group-item" ng-repeat="interaction in interactionList">
            <h6>Type: {{interaction.interactionType}}</h6>
            <h6>Date: {{interaction.interactionDate | date: 'shortDate'}}</h6>
            <h6>Notes: {{interaction.interactionNotes}}</h6>
        </li>
    </div>
</div>


<div class="row">
    <button type="button" class="btn-primary" ng-click="reveal=true"> Add new interaction details</button> <button type="button" class="btn-warning" ng-click="reveal=false">Hide</button>


    <div class="interform" ng-show="reveal">
        <div class="form-group">
            <label for="name">Date of Interaction:</label>
            <input type="date" class="form-control" id="interactionDate" ng-model="interaction.InteractionDate" />
        </div>
        <div class="form-group">
            <label for="interactionType">Type of Interaction:</label>
            <input type="text" class="form-control" id="interactionType" placeholder="email, interview, etc." ng-model="interaction.InteractionType" />
        </div>
        <div class="form-group">
            <label for="interactionNotes">Interaction notes:</label>
            <input type="text" class="form-control" id="interactionNotes" placeholder="Type any notes here" ng-model="interaction.interactionNotes" />
        </div>

        <button class="btn-success" ng-click="addInteraction()">Save</button>

    </div>
</div>
